* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'libre baskerville';
}

header {
    width: 100%;
    margin: auto;
    position: relative;
}

#main-nav nav {}

#main-nav nav ul {}

#main-nav nav ul li {
    list-style: none;
    display: inline;
    font-size: 12px;
    border: 1px solid transparent;
    padding: 10px 20px;
}

#main-nav nav ul li:hover {
    border: 1px solid #ffcaca;
    transition: .5s ease;
}

/* heading code */

#headerbackground {
    height: 40px;
    width: 100%;
    z-index: 2;
}


#main-nav {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 0;
    z-index: 2;
    text-align: right;
    margin-top: 40px;
}


#main-nav-helper {
    position: relative;
    display: inline-block;
}

/* heading code */

#web-developer {
    color: #898989;
}

.container {
    width: 100%;
    margin: auto;

}

#introduction {
    width: 50%;
    margin: auto;
    margin-top: 150px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
}

#introduction h1 {}

@media(max-width: 768px) {}

@media(max-width: 1024px) {}


#wreath {
    content: '';
    height: 2px;
    width: 15%;
    margin: auto;
    margin-top: 35px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 100%;
}

#showcase {
    width: 55%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 30px;
    margin-top: 75px;
}

.showitem {
    background-color: #d8ffed;
    z-index: 1;
    border-radius: 1.75px;
    position: relative;
    height: 100%;
    width: 100%;
}

.showitem img {
    opacity: .75;
    padding: 50px;
    width: 100%;
    height: 100%;
}

.showitem:hover img {

    opacity: 1;
    visibility: hidden;
}

.showitem:hover #showitemhelp {
    display: block;
    transition: all 1s ease;
}

/*
#showcase a:nth-of-type(1) .showitem {
    background: linear-gradient(to bottom right, #cdffea, #ffffff);
}

#showcase a:nth-of-type(2) .showitem {
    background: linear-gradient(to bottom right, #e6cdff, #ffffff);
}

#showcase a:nth-of-type(3) .showitem {
    background: linear-gradient(to bottom right, #e8ffcd, #fcfcfc);
}

#showcase a:nth-of-type(4) .showitem {
    background: linear-gradient(to bottom right, #ffdccd, #ffffff);
}
*/


#showcase .showitem:nth-of-type(1) {
    background: linear-gradient(to bottom right, #cdffea, #ffffff);
}

#showcase .showitem:nth-of-type(2) {
    background: linear-gradient(to bottom right, #e6cdff, #ffffff);
}

#showcase .showitem:nth-of-type(3) {
    background: linear-gradient(to bottom right, #e8ffcd, #fcfcfc);
}

#showcase .showitem:nth-of-type(4) {
    background: linear-gradient(to bottom right, #ffdccd, #ffffff);
}


.picture {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: relative;
}



#hidden {
    display: none;
}

.hidden2 {
    display: none;
}

#showitemhelp {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #797979;
    letter-spacing: 2px;
    top: 48%;
}

#showitemhelp p {
    position: absolute;
    width: 100%;
    height: 100%;
}

#additional {
    width: 50%;
    margin: auto;
    margin-top: 75px;
    font-size: 24px;
}

#additional nav ul li {
    list-style: none;
    line-height: 50px;

}

#additional #other {
    margin-bottom: 62.5px;
    text-align: center;
}

#additional #otherul {
    letter-spacing: 1px;
    position: relative;
}

#additional #otherul:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: #868686;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#additional #otherul:hover:before {
    transform: scaleX(1);
}

#additional nav ul li:hover {
    /*
    background: linear-gradient(to right, #7edfff, #ccffd3);
    */
    color: white;
    transition: all ease-in .3s;
}

#additional table {
    width: 100%;
    border-collapse: collapse;
}

#additional table tr {
    border-bottom: 1px solid black;

}

#additional table tr td {
    padding: 20px 10px;
    font-size: 18px;
}

#additional table td:nth-of-type(2) {
    font-size: 14px;
}

#additional table td:nth-of-type(3) {
    font-size: 14px;
}

/*
#additional tr:hover {
    background: linear-gradient(to right, #82e0ff, #ccffd3);
    color: white;
    transition: all ease-in .3s;
}
*/

#additional td a{
    text-decoration:none;
    color: black;
    display: block;
    width: 100%;
}

.list:hover {
    color: #777777;
}


#segue {
    width: 35%;
    margin: auto;
    margin-top: 75px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    letter-spacing: 1px;
    text-align: center;
}

#segue #skills {
    padding: 25px 25px;
    text-align: left;
}

/*in case captioning needed*/

#segue #skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#segue #skills .list {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
    background-color: ;
}

#segue #skills #years .list {
    text-align: right;
}

/*
#segue #skills:hover {
    background-color: #d5f1ff;
    transition: all ease-in-out .3s;
}

#segue #interest:hover {
    background-color: #ffd5d5;
    transition: all ease-in-out .3s;
}
*/

#segue #interest {
    padding: 25px 25px;
    text-align: right;
}



#segue #interest .list {
    font-size: 14px;
    text-align: right;
    line-height: 25px;
    letter-spacing: 2px;
    background-color: ;
}



#segue .list:nth-of-type(1) {
    margin-top: 10px;
}

#segue #interest .list:nth-of-type(2) {
    margin-top: 10px;
}

#segue #picture {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 2px;
}

#segue #picture img {
    width: 100%;
    border-radius: 45%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*#segue*/

#education {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    padding: 25px 25px;
}

#education .list {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
}

#education .list:nth-of-type(2) {
    margin-top: 10px;
}

#education:hover {
    background-color: #f9ffe3;
}

#education #online-title {
    margin-top: 25px;
    font-weight: bold;
    font-size: 12px;
}

#more-info {
    width: 55%;
    margin: auto;
    margin-top: 50px;
    background-color: #e2fff8;
    padding: 50px;
    color: #2f2f2f;
    display: grid;
    grid-template-columns: 1fr .5fr;
}

#more-info p {
    margin-top: 25px;
    line-height: 30px;
}


#more-info #more-info-pic img {
    margin-top: 17.5px;
    width: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


#more-info h1{
    
}

#more-info p{
    
}
.container #more-info-me-m {
    display: none;
}

.container #more-info-pic-m {
    display: none;
}

.container #more-info-pic-m img {
    margin-top: 17.5px;
    width: 100%;
    border-radius: 100%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}



#startproject {
    margin: auto;
    width: 50%;
    margin-top: 100px;
}

#startproject a {
    text-decoration: none;
    color: #bababa;
}

#startproject a:hover {
    color: #bfffff;
    transition: .3s ease-out;
}

#socialmedia {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 75px;
}

#socialmedia nav ul {
    margin-bottom: 100px;
}

#socialmedia nav ul li {
    list-style: none;
    display: inline;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}

#socialmedia nav ul li:hover {
    color: #a4ffa4;
    transition: .3s ease;
}

@media screen and (max-width: 1336px) {
    .container #segue {
        width: 60%;
    }
    .container #introduction {
        text-align: center;
    }

    .container #introduction h1 {
        font-size: 20px;
    }

    .container #wreath {
        content: '';
        height: 2px;
        margin: auto;
        overflow: hidden;
        margin-top: 35px;
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 100%;
    }

    .container #showcase {
        width: 60%;
        transform: translateX(%);
        margin-top: 50px;
    }

    .container #additional {
        width: 60%;
    }

    .container #additional table {
        transform: translateX(%);
    }

    #additional table {
        width: 100%;
        border-collapse: collapse;
    }

    .container .showitem {
        margin-top: 50px;
    }

    .container #segue {
        width: 60%;
        letter-spacing: 2px;
    }

    .container #segue #interest {
        font-size: 12px;

    }

    .container #segue #skills {
        font-size: 12px;

    }

    .container #segue #interest .list {
        font-size: 12px;

    }

    .container #segue #skills .list {
        font-size: 12px;

    }

    .container #education {
        width: 100%;
        transform: translateX(0%);
    }

    .container #more-info {
        width: 80%;
        transform: translateX(0%);
    }

    .container #startproject {
        text-align: center;
        transform: translateX(0%);
    }

    .container #socialmedia {
        display: inline;
        font-size: 12px;
    }
    .container #socialmedia nav {
        margin-top: 50px;
        margin-right: 50px;
    }

    .container #socialmedia nav ul li:nth-of-type(4) span {
        margin-top: 30px;
    }
}




@media screen and (max-width: 1024px) {
    .container #segue {
        width: 60%;
    }
    .container #introduction {
        width: 75%;
        text-align: center;

    }

    .container #introduction h1 {
        font-size: 20px;
    }

    .container #showcase {
        width: 75%;
        transform: translateX(%);
        margin-top: 50px;
    }

    .container #additional {
        width: 60%;
    }

    .container #additional table {
        transform: translateX(%);
    }

    #additional table {
        width: 100%;
        border-collapse: collapse;
    }

    .container .showitem {
        margin-top: 50px;
    }

    .container #segue {
        width: 60%;
        letter-spacing: 2px;
    }

    .container #segue #interest {
        font-size: 12px;

    }

    .container #segue #skills {
        font-size: 12px;

    }

    .container #segue #interest .list {
        font-size: 12px;

    }

    .container #segue #skills .list {
        font-size: 12px;

    }

    .container #education {
        width: 100%;
        transform: translateX(0%);
    }

    .container #more-info {
        width: 80%;
        transform: translateX(0%);
    }

    .container #startproject {
        text-align: center;
        transform: translateX(0%);
    }

    .container #socialmedia {
        display: inline;
        font-size: 12px;
    }
    .container #socialmedia nav {
        margin-top: 50px;
        margin-right: 50px;
    }

    .container #socialmedia nav ul li:nth-of-type(4) span {
        margin-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container #introduction {
        width: 75%;
        text-align: center;

    }

    .container #introduction h1 {
        font-size: 20px;
    }

    .container #showcase {
        width: 75%;
        transform: translateX(%);
        margin-top: 50px;
    }

    .container #additional {
        width: 60%;
    }

    #additional table {
        width: 100%;
        border-collapse: collapse;
    }

    .container #additional table {
        transform: translateX(%);
    }

    .container .showitem {
        margin-top: 50px;
    }

    .container #segue {
        width: 100%;
        letter-spacing: 2px;
    }

    .container #segue #interest {
        font-size: 12px;

    }

    .container #segue #skills {
        font-size: 12px;

    }

    .container #segue #interest .list {
        font-size: 12px;

    }

    .container #segue #skills .list {
        font-size: 12px;

    }

    .container #education {
        width: 100%;
        transform: translateX(0%);
    }

    .container #more-info {
        width: 100%;
    }

    .container #startproject {
        text-align: center;
        transform: translateX(0%);
    }

    .container #socialmedia {
        display: inline;
        font-size: 12px;
    }
    .container #socialmedia nav {
        margin-top: 50px;
        margin-right: 50px;
    }

    .container #socialmedia nav ul li:nth-of-type(4) span {
        margin-top: 30px;
    }
}

@media screen and (max-width: 375px) {
    .container #segue {
        width: 60%;
    }
    .container #introduction {
        width: 75%;
        text-align: center;

    }

    .container #introduction h1 {
        font-size: 20px;
    }

    .container #showcase {
        width: 75%;
        display: block;
        transform: translateX(%);
        margin-top: 50px;
    }

    .container #additional {
        width: 80%;
    }

    #additional table {
        border-collapse: collapse;
        transform: translateX(-0%);
    }

    .container .showitem {
        margin-top: 50px;
    }

    .container #segue {
        width: 100%;
        letter-spacing: 2px;
        display: block;
    }

    .container #segue #interest {
        font-size: 12px;
    }

    .container #segue #skills {
        font-size: 12px;
    }

    .container #segue #interest .list {
        font-size: 12px;
    }

    .container #segue #skills .list {
        font-size: 12px;
    }

    .container #education {
        width: 100%;
        transform: translateX(0%);
    }

    .container #more-info {
        display: block;
        width: 100%;
        height: 100%;
    }

    .container #more-info h1 {
        text-align:center;
    }

    .container #more-info p {
        text-align:center;
    }

    .container #more-info-pic {
        margin-top: 50px;
        display: none;
    }

    .container #more-info-me {
        display: none;
    }

    .container #more-info-me-m {
        display: block;
        margin-top: 50px;
    }

    .container #more-info-pic-m {
        width: 75%;
        transform:translateX(25%);
        display: block;
    }

    .container #more-info #more-info-pic img {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    
    .container #more-info #more-info-pic-m {
        
    }

    .container #startproject {
        text-align: center;
        transform: translateX(0%);
        margin-top: 50px;
    }

    .container #socialmedia {
        display: inline;
        font-size: 12px;
    }
    .container #socialmedia nav {
        margin-top: 50px;
        margin-right: 50px;
    }

    .container #socialmedia nav ul li:nth-of-type(4) span {
        margin-top: 30px;
    }
}
